<!-- @@master = ../layouts/default.html-->

<!-- @@block  =  title -->
<title>MB Agility 星智選 | 購車試算</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link rel="canonical" href="http://www.mb-agility.com/mb/" />

<meta name="og:title" content="MB Agility 星智選 | 首頁">
<meta name="og:description" content="">
<meta property="og:url" content="http://www.mb-agility.com/mb/">
<meta name="og:image" content="http://www.mb-agility.com/mb/../../share-image.jpg">
<!-- @@close -->

<!-- @@block  =  head-css -->
<link rel="stylesheet" href="css/slick-theme.css" type="text/css" media="all" />
<link rel="stylesheet" href="css/slick.css" type="text/css" media="all" />
<!-- 20181016 Johnson -->
<link rel="stylesheet" href="css/calculate.css" type="text/css" media="all" />
<!-- @@close -->

<!-- @@block  =  head-js -->
<script src="js/pingin/slick.min.js"></script>
<script src="js/calculate/main.js"></script>
<!-- @@close -->

<!-- @@block  =  header-calculate -->
class="active"
<!-- @@close -->

<!-- @@block = content -->
<div id="calculate" class="main">
	<section id="keyvision">
		<img src="images/slide-kv/calculate-kv.jpg" class="visible-desktop" alt="">
		<div class="kv-headtxt">
			<h1>Agility 星智選</h1>
		</div>
	</section>
	<div id="result" class="result">
		<div class="container">
			<div class="row">
				<div class="product-name">
					<div class="headTxt">試算結果</div>
					<div class="ConTxt">
						<span>Mercedes-AMG</span>
						C200 ESTATE AVANTGARDE
					</div>
				</div>
				<div class="calculate-result">
					<ul>
						<li class="terms">
							<div class="headTxt">期數</div>
							<div class="ConTxt">
								<div id="terms-24m" class="dot-item active">
									<a href="javascript:;">24<span class="dot"></span></a>
								</div>
								<div id="terms-36m" class="dot-item">
									<a href="javascript:;">36<span class="dot"></span></a>
								</div>

							</div>
						</li>
						<li class="down-payment-percent">
							<div class="headTxt">頭款比例</div>
							<div class="ConTxt">
								<div id="percent-10" class="dot-item active">
									<a href="javascript:;">10%<span class="dot"></span></a>
								</div>
								<div id="percent-20" class="dot-item">
									<a href="javascript:;">20%<span class="dot"></span></a>
								</div>
								<div id="percent-30" class="dot-item">
									<a href="javascript:;">30%<span class="dot"></span></a>
								</div>
							</div>
						</li>
						<li class="down-payment">
							<div class="headTxt">首款</div>
							<div class="ConTxt">
								NT$ <span id="dp-price">1,500,000</span>
							</div>
						</li>
						<li class="monthly-payment">
							<div class="headTxt">Agility 月付款</div>
							<div class="ConTxt">NT$ <span id="mp-price">88,888</span></div>
						</li>
						<li class="offertogo">
							<a id="gotoffers" target="_blank" href="https://www.mercedes-benz.com.tw/content/taiwan/mpc/mpc_taiwan_website/twng/home_mpc/passengercars/mobile/mbp/financial_services/campaigns/2.html"><span
								 class="visible-desktop">本月</span>優惠<span class="visible-desktop">專案&gt;</span><span class="moFontsmall">&gt;</span></a>
						</li>
					</ul>
					<!-- <div class="expand visible-mobile"></div> -->
				</div>
			</div>

		</div>
	</div>
	<section id="section1">
		<div class="container">
			<h2 class="title-line">請選擇車型</h2>
			<div id="modelTab">
				<ul id="modelNav" class="modelNav">
					<li><a href="#A-class">A-Class</a></li>
					<li><a href="#B-class">B-Class</a></li>
					<li><a href="#CLA">CLA</a></li>
					<li><a href="#GLA">GLA</a></li>
					<li><a href="#C-class">C-Class</a></li>

				</ul>
				<h2 class="title-line l_p_b_0">請選擇車輛型號</h2>
				<div class="modelCont">
					<div id="A-class" class="model-item">
						<div class="type-item">
							<div class="model-type">
								<div class="type-image">
									<img src="images/calculate/car/a-class.png" alt="">
								</div>
								<div class="type-headTxt">
									<div class="title">
										<span class="model-name Daimler-Corpo-A">A-class</span>
										<span class="model-type-title">轎車</span>
									</div>
									<div class="line-hr"><span></span></div>
								</div>
							</div>
							<div class="modelLst">
								<ul>
									<li class="active">
										<div class="product-name">
											A180
										</div>
										<div class="btline"><span></span></div>
										<div class="cta-btn">
											<div class="comparison">
												<span class="icon add"></span><span class="txt">加入比較</span>
											</div>
											<a class="lean-more" href="detail.html">
												<span class="icon arrow"><span></span></span><span class="txt">了解方案</span>
											</a>
										</div>
									</li>
									<li>
										<div class="product-name">
											A180 運動版
										</div>
										<div class="btline"><span></span></div>
										<div class="cta-btn">
											<div class="comparison ">
												<span class="icon add"></span><span class="txt">加入比較</span>
											</div>
											<a class="lean-more" href="detail.html">
												<span class="icon arrow"><span></span></span><span class="txt">了解方案</span>
											</a>
										</div>
									</li>
									<li>
										<div class="product-name">
											A250 Sport
										</div>
										<div class="btline"><span></span></div>
										<div class="cta-btn">
											<div class="comparison ">
												<span class="icon add"></span><span class="txt">加入比較</span>
											</div>
											<a class="lean-more" href="detail.html">
												<span class="icon arrow"><span></span></span><span class="txt">了解方案</span>
											</a>
										</div>
									</li>
									<li>
										<div class="product-name">
											<span>Mercedes-AMG</span>A45 4MATIC
										</div>
										<div class="btline"><span></span></div>
										<div class="cta-btn">
											<div class="comparison ">
												<span class="icon add"></span><span class="txt">加入比較</span>
											</div>
											<a class="lean-more" href="detail.html">
												<span class="icon arrow"><span></span></span><span class="txt">了解方案</span>
											</a>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div id="B-class" class="model-item">
						<div class="type-item">
							<div class="model-type">
								<div class="type-image">
									<img src="images/calculate/car/b-class.png" alt="">
								</div>
								<div class="type-headTxt">
									<div class="title">
										<span class="model-name Daimler-Corpo-A">B-class</span>
										<span class="model-type-title">運動跑旅</span>
									</div>
									<div class="line-hr"><span></span></div>
								</div>
							</div>
							<div class="modelLst">
								<ul>
									<li>
										<div class="product-name">
											B180
										</div>
										<div class="btline"><span></span></div>
										<div class="cta-btn">
											<div class="comparison">
												<span class="icon add"></span><span class="txt">加入比較</span>
											</div>
											<a class="lean-more" href="detail.html">
												<span class="icon arrow"><span></span></span><span class="txt">了解方案</span>
											</a>
										</div>
									</li>
									<li>
										<div class="product-name">
											B180 運動版
										</div>
										<div class="btline"><span></span></div>
										<div class="cta-btn">
											<div class="comparison ">
												<span class="icon add"></span><span class="txt">加入比較</span>
											</div>
											<a class="lean-more" href="detail.html">
												<span class="icon arrow"><span></span></span><span class="txt">了解方案</span>
											</a>
										</div>
									</li>
									<li>
										<div class="product-name">
											B200d
										</div>
										<div class="btline"><span></span></div>
										<div class="cta-btn">
											<div class="comparison ">
												<span class="icon add"></span><span class="txt">加入比較</span>
											</div>
											<a class="lean-more" href="detail.html">
												<span class="icon arrow"><span></span></span><span class="txt">了解方案</span>
											</a>
										</div>
									</li>
									<li>
										<div class="product-name">
											B200
										</div>
										<div class="btline"><span></span></div>
										<div class="cta-btn">
											<div class="comparison ">
												<span class="icon add"></span><span class="txt">加入比較</span>
											</div>
											<a class="lean-more" href="detail.html">
												<span class="icon arrow"><span></span></span><span class="txt">了解方案</span>
											</a>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div id="CLA" class="model-item">
						<div class="type-item">
							<div class="model-type">
								<div class="type-image">
									<img src="images/calculate/car/cla-1.png" alt="">
								</div>
								<div class="type-headTxt">
									<div class="title">
										<span class="model-name Daimler-Corpo-A">CLA</span>
										<span class="model-type-title">轎跑車</span>
									</div>
									<div class="line-hr"><span></span></div>
								</div>
							</div>
							<div class="modelLst">
								<ul>
									<li>
										<div class="product-name">
											CLA 200
										</div>
										<div class="btline"><span></span></div>
										<div class="cta-btn">
											<div class="comparison">
												<span class="icon add"></span><span class="txt">加入比較</span>
											</div>
											<a class="lean-more" href="detail.html">
												<span class="icon arrow"><span></span></span><span class="txt">了解方案</span>
											</a>
										</div>
									</li>
									<li>
										<div class="product-name">
											CLA 250
										</div>
										<div class="btline"><span></span></div>
										<div class="cta-btn">
											<div class="comparison ">
												<span class="icon add"></span><span class="txt">加入比較</span>
											</div>
											<a class="lean-more" href="detail.html">
												<span class="icon arrow"><span></span></span><span class="txt">了解方案</span>
											</a>
										</div>
									</li>
									<li>
										<div class="product-name">
											<span>Mercedes-AMG</span>CLA 45 4MATIC
										</div>
										<div class="btline"><span></span></div>
										<div class="cta-btn">
											<div class="comparison ">
												<span class="icon add"></span><span class="txt">加入比較</span>
											</div>
											<a class="lean-more" href="detail.html">
												<span class="icon arrow"><span></span></span><span class="txt">了解方案</span>
											</a>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="type-item">
							<div class="model-type">
								<div class="type-image">
									<img src="images/calculate/car/cla-2.png" alt="">
								</div>
								<div class="type-headTxt">
									<div class="title">
										<span class="model-name Daimler-Corpo-A">CLA</span>
										<span class="model-type-title">五門獵跑</span>
									</div>
									<div class="line-hr"><span></span></div>
								</div>
							</div>
							<div class="modelLst">
								<ul>
									<li>
										<div class="product-name">
											CLA 200 Shooting Brake
										</div>
										<div class="btline"><span></span></div>
										<div class="cta-btn">
											<div class="comparison">
												<span class="icon add"></span><span class="txt">加入比較</span>
											</div>
											<a class="lean-more" href="detail.html">
												<span class="icon arrow"><span></span></span><span class="txt">了解方案</span>
											</a>
										</div>
									</li>
									<li>
										<div class="product-name">
											CLS 250 Shooting Brake
										</div>
										<div class="btline"><span></span></div>
										<div class="cta-btn">
											<div class="comparison ">
												<span class="icon add"></span><span class="txt">加入比較</span>
											</div>
											<a class="lean-more" href="detail.html">
												<span class="icon arrow"><span></span></span><span class="txt">了解方案</span>
											</a>
										</div>
									</li>
									<li>
										<div class="product-name">
											<span>Mercedes-AMG</span>4MATIC ESTATE
										</div>
										<div class="btline"><span></span></div>
										<div class="cta-btn">
											<div class="comparison ">
												<span class="icon add"></span><span class="txt">加入比較</span>
											</div>
											<a class="lean-more" href="detail.html">
												<span class="icon arrow"><span></span></span><span class="txt">了解方案</span>
											</a>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div id="GLA" class="model-item">
						<div class="type-item">
							<div class="model-type">
								<div class="type-image">
									<img src="images/calculate/car/gla.png" alt="">
								</div>
								<div class="type-headTxt">
									<div class="title">
										<span class="model-name Daimler-Corpo-A">GLA</span>
										<span class="model-type-title">運動跑旅</span>
									</div>
									<div class="line-hr"><span></span></div>
								</div>
							</div>
							<div class="modelLst">
								<ul>
									<li>
										<div class="product-name">
											GLA 180
										</div>
										<div class="btline"><span></span></div>
										<div class="cta-btn">
											<div class="comparison">
												<span class="icon add"></span><span class="txt">加入比較</span>
											</div>
											<a class="lean-more" href="detail.html">
												<span class="icon arrow"><span></span></span><span class="txt">了解方案</span>
											</a>
										</div>
									</li>
									<li>
										<div class="product-name">
											GLA 180 運動版
										</div>
										<div class="btline"><span></span></div>
										<div class="cta-btn">
											<div class="comparison ">
												<span class="icon add"></span><span class="txt">加入比較</span>
											</div>
											<a class="lean-more" href="detail.html">
												<span class="icon arrow"><span></span></span><span class="txt">了解方案</span>
											</a>
										</div>
									</li>
									<li>
										<div class="product-name">
											GLA 200
										</div>
										<div class="btline"><span></span></div>
										<div class="cta-btn">
											<div class="comparison ">
												<span class="icon add"></span><span class="txt">加入比較</span>
											</div>
											<a class="lean-more" href="detail.html">
												<span class="icon arrow"><span></span></span><span class="txt">了解方案</span>
											</a>
										</div>
									</li>
									<li>
										<div class="product-name">
											GLA 200d
										</div>
										<div class="btline"><span></span></div>
										<div class="cta-btn">
											<div class="comparison ">
												<span class="icon add"></span><span class="txt">加入比較</span>
											</div>
											<a class="lean-more" href="detail.html">
												<span class="icon arrow"><span></span></span><span class="txt">了解方案</span>
											</a>
										</div>
									</li>
									<li>
										<div class="product-name">
											<span>Mercedes-AMG</span>GLA45 4MATIC
										</div>
										<div class="btline"><span></span></div>
										<div class="cta-btn">
											<div class="comparison ">
												<span class="icon add"></span><span class="txt">加入比較</span>
											</div>
											<a class="lean-more" href="detail.html">
												<span class="icon arrow"><span></span></span><span class="txt">了解方案</span>
											</a>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div id="C-class" class="model-item">
						<div class="type-item">
							<div class="model-type">
								<div class="type-image">
									<img src="images/calculate/car/c-class-1.png" alt="">
								</div>
								<div class="type-headTxt">
									<div class="title">
										<span class="model-name Daimler-Corpo-A">c-class</span>
										<span class="model-type-title">轎車</span>
									</div>
									<div class="line-hr"><span></span></div>
								</div>
							</div>
							<div class="modelLst">
								<ul>
									<li>
										<div class="product-name">
											C180
										</div>
										<div class="btline"><span></span></div>
										<div class="cta-btn">
											<div class="comparison">
												<span class="icon add"></span><span class="txt">加入比較</span>
											</div>
											<a class="lean-more" href="detail.html">
												<span class="icon arrow"><span></span></span><span class="txt">了解方案</span>
											</a>
										</div>
									</li>
									<li>
										<div class="product-name">
											C200d
										</div>
										<div class="btline"><span></span></div>
										<div class="cta-btn">
											<div class="comparison ">
												<span class="icon add"></span><span class="txt">加入比較</span>
											</div>
											<a class="lean-more" href="detail.html">
												<span class="icon arrow"><span></span></span><span class="txt">了解方案</span>
											</a>
										</div>
									</li>
									<li>
										<div class="product-name">
											C200 AVANTGARDE
										</div>
										<div class="btline"><span></span></div>
										<div class="cta-btn">
											<div class="comparison ">
												<span class="icon add"></span><span class="txt">加入比較</span>
											</div>
											<a class="lean-more" href="detail.html">
												<span class="icon arrow"><span></span></span><span class="txt">了解方案</span>
											</a>
										</div>
									</li>
									<li>
										<div class="product-name">
											C200 EXCLUSIVE
										</div>
										<div class="btline"><span></span></div>
										<div class="cta-btn">
											<div class="comparison ">
												<span class="icon add"></span><span class="txt">加入比較</span>
											</div>
											<a class="lean-more" href="detail.html">
												<span class="icon arrow"><span></span></span><span class="txt">了解方案</span>
											</a>
										</div>
									</li>
									<li>
										<div class="product-name">
											C250 運動版
										</div>
										<div class="btline"><span></span></div>
										<div class="cta-btn">
											<div class="comparison ">
												<span class="icon add"></span><span class="txt">加入比較</span>
											</div>
											<a class="lean-more" href="detail.html">
												<span class="icon arrow"><span></span></span><span class="txt">了解方案</span>
											</a>
										</div>
									</li>
									<li>
										<div class="product-name">
											<span>Mercedes-AMG</span>C43 4MATIC
										</div>
										<div class="btline"><span></span></div>
										<div class="cta-btn">
											<div class="comparison ">
												<span class="icon add"></span><span class="txt">加入比較</span>
											</div>
											<a class="lean-more" href="detail.html">
												<span class="icon arrow"><span></span></span><span class="txt">了解方案</span>
											</a>
										</div>
									</li>
									<li>
										<div class="product-name">
											<span>Mercedes-AMG</span>C63
										</div>
										<div class="btline"><span></span></div>
										<div class="cta-btn">
											<div class="comparison ">
												<span class="icon add"></span><span class="txt">加入比較</span>
											</div>
											<a class="lean-more" href="detail.html">
												<span class="icon arrow"><span></span></span><span class="txt">了解方案</span>
											</a>
										</div>
									</li>
									<li>
										<div class="product-name">
											<span>Mercedes-AMG</span>C63 S
										</div>
										<div class="btline"><span></span></div>
										<div class="cta-btn">
											<div class="comparison ">
												<span class="icon add"></span><span class="txt">加入比較</span>
											</div>
											<a class="lean-more" href="detail.html">
												<span class="icon arrow"><span></span></span><span class="txt">了解方案</span>
											</a>
										</div>
									</li>
								</ul>
							</div>
						</div>

						<div class="type-item">
							<div class="model-type">
								<div class="type-image">
									<img src="images/calculate/car/c-class-2.png" alt="">
								</div>
								<div class="type-headTxt">
									<div class="title">
										<span class="model-name Daimler-Corpo-A">c-class</span>
										<span class="model-type-title">旅行車</span>
									</div>
									<div class="line-hr"><span></span></div>
								</div>
							</div>
							<div class="modelLst">
								<ul>
									<li>
										<div class="product-name">
											C200 ESTATE AVANTGARDE
										</div>
										<div class="btline"><span></span></div>
										<div class="cta-btn">
											<div class="comparison ">
												<span class="icon add"></span><span class="txt">加入比較</span>
											</div>
											<a class="lean-more" href="detail.html">
												<span class="icon arrow"><span></span></span><span class="txt">了解方案</span>
											</a>
										</div>
									</li>
									<li>
										<div class="product-name">
											C250 ESTATE 運動版
										</div>
										<div class="btline"><span></span></div>
										<div class="cta-btn">
											<div class="comparison  ">
												<span class="icon add"></span><span class="txt">加入比較</span>
											</div>
											<a class="lean-more" href="detail.html">
												<span class="icon arrow"><span></span></span><span class="txt">了解方案</span>
											</a>
										</div>
									</li>
									<li>
										<div class="product-name">
											<span>Mercedes-AMG</span>C43 4MATIC ESTATE
										</div>
										<div class="btline"><span></span></div>
										<div class="cta-btn">
											<div class="comparison  ">
												<span class="icon add"></span><span class="txt">加入比較</span>
											</div>
											<a class="lean-more" href="detail.html">
												<span class="icon arrow"><span></span></span><span class="txt">了解方案</span>
											</a>
										</div>
									</li>
								</ul>
							</div>
						</div>

						<div class="type-item">
							<div class="model-type">
								<div class="type-image">
									<img src="images/calculate/car/c-class-3.png" alt="">
								</div>
								<div class="type-headTxt">
									<div class="title">
										<span class="model-name Daimler-Corpo-A">c-class</span>
										<span class="model-type-title">轎跑車</span>
									</div>
									<div class="line-hr"><span></span></div>
								</div>
							</div>
							<div class="modelLst">
								<ul>
									<li>
										<div class="product-name">
											C180 Coupé
										</div>
										<div class="btline"><span></span></div>
										<div class="cta-btn">
											<div class="comparison">
												<span class="icon add"></span><span class="txt">加入比較</span>
											</div>
											<a class="lean-more" href="detail.html">
												<span class="icon arrow"><span></span></span><span class="txt">了解方案</span>
											</a>
										</div>
									</li>
									<li>
										<div class="product-name">
											C 250 Coupé 運動版
										</div>
										<div class="btline"><span></span></div>
										<div class="cta-btn">
											<div class="comparison  ">
												<span class="icon add"></span><span class="txt">加入比較</span>
											</div>
											<a class="lean-more" href="detail.html">
												<span class="icon arrow"><span></span></span><span class="txt">了解方案</span>
											</a>
										</div>
									</li>
									<li>
										<div class="product-name">
											<span>Mercedes-AMG</span>C43 4MATIC Coupé
										</div>
										<div class="btline"><span></span></div>
										<div class="cta-btn">
											<div class="comparison  ">
												<span class="icon add"></span><span class="txt">加入比較</span>
											</div>
											<a class="lean-more" href="detail.html">
												<span class="icon arrow"><span></span></span><span class="txt">了解方案</span>
											</a>
										</div>
									</li>
									<li>
										<div class="product-name">
											<span>Mercedes-AMG</span>C63 Coupé
										</div>
										<div class="btline"><span></span></div>
										<div class="cta-btn">
											<div class="comparison  ">
												<span class="icon add"></span><span class="txt">加入比較</span>
											</div>
											<a class="lean-more" href="detail.html">
												<span class="icon arrow"><span></span></span><span class="txt">了解方案</span>
											</a>
										</div>
									</li>
									<li>
										<div class="product-name">
											<span>Mercedes-AMG</span>C63 S Coupé
										</div>
										<div class="btline"><span></span></div>
										<div class="cta-btn">
											<div class="comparison  ">
												<span class="icon add"></span><span class="txt">加入比較</span>
											</div>
											<a class="lean-more" href="detail.html">
												<span class="icon arrow"><span></span></span><span class="txt">了解方案</span>
											</a>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="remark">
				<p>備註：</p>
				<ul class="numLst">
					<li>方案內容及適用車型依台灣賓士資融公告為準。</li>
					<li>Agility 星自選 購車優惠方案依據每年15,000公里里程數計，合約期滿時尚有尾款。</li>
					<li>以上計算結果僅供參考，請與台灣賓士授權經銷商詢問詳細的車型價格。</li>
					<li>台灣賓士資融仍保留核准與否權利。</li>
				</ul>
			</div>
		</div>
	</section>
	<div class="car-comparison-btn" id="car-comparison-btn">
		<a id="car-comparison" class="car-comparison" href="comparison.html">比<br>較<br>車<br>種<span></span></a>
		<a href="https://www.mb-oca.com/?utm_source=agility_website&utm_medium=banner" target="_blank">知<br>星<br> <br>信<br>用<br>評<br>估<span></span></a>	
	</div>
	</div>

<!-- @@close-->

<!-- @@block  =  footer -->
<footer class="bgft02 black">
	<!-- @@include ../layouts/_footer.html -->
</footer>
<!-- @@close -->