<!-- @@master = ../layouts/default.html-->

<!-- @@block  =  title -->
<title>MB Agility 星智選 | 比較車款</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link rel="canonical" href="http://www.mb-agility.com/mb/comparison" />

<meta name="og:title" content="MB Agility 星智選 | 比較車款">
<meta name="og:description" content="">
<meta property="og:url" content="http://www.mb-agility.com/mb/">
<meta name="og:image" content="http://www.mb-agility.com/mb/../../share-image.jpg">
<!-- @@close -->

<!-- @@block  =  head-css -->
<!-- 20181016 Johnson -->
<link rel="stylesheet" href="css/comparison.css" type="text/css" media="all" />
<!-- @@close -->

<!-- @@block  =  head-js -->
<script src="js/comparison/main.js"></script>
<!-- @@close -->

<!-- @@block = content -->
<div id="comparison" class="main">
	<section id="keyvision">
		<img src="images/slide-kv/comparison-kv.jpg" class="visible-desktop" alt="">
		<div class="kv-headtxt">
			<h1>Agility 星智選</h1>
		</div>
	</section>
	<section id="section1">
		<!-- scroll fixed -->
		<div id="compareFixedBar">
			<div class="container compare">
				<div class="compare-head">
					<table>
						<tr>
							<td>
								<div class="compare-title">C43 4MATIC11</div>
							</td>
							<td>
								<div class="compare-title">C43 4MATIC22</div>
							</td>
							<td class="noadd" onclick=" location.href = 'calculate.html'"></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="container">
			<h2 class="title-line">比較車款</h2>
			<div class="compare">
				<div class="compare-head">
					<table>
						<tr>
							<td>
								<div class="compare-img"><img src="images/calculate/car/c-class-r.png" alt=""></div>
								<div id="scrollPOS" class="compare-title">C43 4MATIC11</div>
								<span class="close"></span>
							</td>
							<td>
								<div class="compare-img"><img src="images/calculate/car/c-class-r.png" alt=""></div>
								<div class="compare-title">C43 4MATIC22</div>
								<span class="close"></span>
							</td>
							<td class="noadd" onclick=" location.href = 'calculate.html'"></td>
						</tr>
					</table>
				</div>

				<div class="compare-content">
					<div class="planHead">
						Agility方案 <span>24期</span>
					</div>
					<div class="planCont">
						<div class="dpp-select">
							<ul>
								<li><a href="#terms24-ddp-10p">10<span>%</span></a></li>
								<li><a href="#terms24-ddp-20p">20<span>%</span></a></li>
								<li><a href="#terms24-ddp-30p">30<span>%</span></a></li>
							</ul>
						</div>
						<div class="detail">
							<table id="terms24-ddp-10p">
								<tr class="down-payment">
									<td>$71,000 A</td>
									<td>$71,000 B</td>
									<td class="noadd"></td>
								</tr>
								<tr class="ag-monthly-payment">
									<td>$7,100 A</td>
									<td>$7,100 B</td>
									<td class="noadd"></td>
								</tr>
								<tr class="bs-monthly-payment">
									<td>$323,760 A</td>
									<td>$323,760 B</td>
									<td class="noadd"></td>
								</tr>
							</table>

							<table id="terms24-ddp-20p">
								<tr class="down-payment">
									<td>$71,000 A</td>
									<td>$71,000 B</td>
									<td class="noadd"></td>
								</tr>
								<tr class="ag-monthly-payment">
									<td>$7,100 A</td>
									<td>$7,100 B</td>
									<td class="noadd"></td>
								</tr>
								<tr class="bs-monthly-payment">
									<td>$323,760 A</td>
									<td>$323,760 B</td>
									<td class="noadd"></td>
								</tr>
							</table>

							<table id="terms24-ddp-30p">
								<tr class="down-payment">
									<td>$71,000 A</td>
									<td>$71,000 B</td>
									<td class="noadd"></td>
								</tr>
								<tr class="ag-monthly-payment">
									<td>$7,100 A</td>
									<td>$7,100 B</td>
									<td class="noadd"></td>
								</tr>
								<tr class="bs-monthly-payment">
									<td>$323,760 A</td>
									<td>$323,760 B</td>
									<td class="noadd"></td>
								</tr>
							</table>
						</div>
					</div>
				</div>

				<div class="compare-content">
					<div class="planHead">
						Agility方案 <span>36期</span>
					</div>
					<div class="planCont">
						<div class="dpp-select">
							<ul>
								<li><a href="#terms36-ddp-10p">10<span>%</span></a></li>
								<li><a href="#terms36-ddp-20p">20<span>%</span></a></li>
								<li><a href="#terms36-ddp-30p">30<span>%</span></a></li>
							</ul>
						</div>
						<div class="detail">

							<table id="terms36-ddp-10p">
								<tr class="down-payment">
									<td>$71,000 A</td>
									<td>$71,000 B</td>
									<td class="noadd"></td>
								</tr>
								<tr class="ag-monthly-payment">
									<td>$7,100 A</td>
									<td>$7,100 B</td>
									<td class="noadd"></td>
								</tr>
								<tr class="bs-monthly-payment">
									<td>$323,760 A</td>
									<td>$323,760 B</td>
									<td class="noadd"></td>
								</tr>
							</table>

							<table id="terms36-ddp-20p">
								<tr class="down-payment">
									<td>$71,000 A</td>
									<td>$71,000 B</td>
									<td class="noadd"></td>
								</tr>
								<tr class="ag-monthly-payment">
									<td>$7,100 A</td>
									<td>$7,100 B</td>
									<td class="noadd"></td>
								</tr>
								<tr class="bs-monthly-payment">
									<td>$323,760 A</td>
									<td>$323,760 B</td>
									<td class="noadd"></td>
								</tr>
							</table>

							<table id="terms36-ddp-30p">
								<tr class="down-payment">
									<td>$71,000 A</td>
									<td>$71,000 B</td>
									<td class="noadd"></td>
								</tr>
								<tr class="ag-monthly-payment">
									<td>$7,100 A</td>
									<td>$7,100 B</td>
									<td class="noadd"></td>
								</tr>
								<tr class="bs-monthly-payment">
									<td>$323,760 A</td>
									<td>$323,760 B</td>
									<td class="noadd"></td>
								</tr>
							</table>
						</div>
					</div>

				</div>

			</div>
			<div class="lean-more txtCenter">
				<a class="blueTxt" href="calculate.html">&lt;&lt; 返回購車試算</a>
			</div>
			<div class="remark">
				<p>備註：</p>
				<ul class="numLst">
					<li>方案內容及適用車型依台灣賓士資融公告為準。</li>
					<li>Agility 星自選 購車優惠方案依據每年15,000公里里程數計，合約期滿時尚有尾款。</li>
					<li>以上計算結果僅供參考，請與台灣賓士授權經銷商詢問詳細的車型價格。</li>
					<li>台灣賓士資融仍保留核准與否權利。</li>
				</ul>
			</div>

		</div>

	</section>

</div>

<!-- @@close-->

<!-- @@block  =  footer -->
<footer class="bgft05">
	<!-- @@include ../layouts/_footer.html -->
</footer>
<!-- @@close -->