<!-- @@master = ../layouts/default.html-->

<!-- @@block  =  title -->
<title>MB Agility 星智選 | 聯絡我們</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link rel="canonical" href="http://www.mb-agility.com/mb/" />

<meta name="og:title" content="MB Agility 星智選 | 比較車款">
<meta name="og:description" content="">
<meta property="og:url" content="http://www.mb-agility.com/mb/contact">
<meta name="og:image" content="http://www.mb-agility.com/mb/../../share-image.jpg">
<!-- @@close -->

<!-- @@block  =  head-css -->
<!-- 20181016 Johnson -->
<link rel="stylesheet" href="css/contact.css" type="text/css" media="all" />
<!-- @@close -->

<!-- @@block  =  head-js -->
<script src="js/contact/main.js"></script>
<script> $(function(){ menuShowHide(true); }); </script>
<!-- @@close -->

<!-- @@block = content -->
<div id="contact" class="main">
	<section id="keyvision">
		<img src="images/slide-kv/contact-kv.jpg" class="visible-desktop" alt="">
		<div class="kv-headtxt">
			<h1>Agility 星智選</h1>
		</div>
	</section>
	<section id="section1">
		<div class="container">
			<div id="faq" class="faq">
				<h2 class="title-line">FAQs</h2>
				<ul class="faq-content">
					<li class="">
						<div class="problem" onclick="gtag('event', 'click', {'event_category': 'contact', 'event_label': 'contact_Faq_q1'}); track_faqQ1();">Agility星自選購車方案的貸款可分幾期？
							<span class="arrow">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
									<path fill-rule="evenodd" fill="rgb(125, 125, 125)" d="M5.500,0.000 L11.001,6.000 L-0.001,6.000 L5.500,0.000 Z"></path>
								</svg>
							</span>
						</div>
						<div class="answer" style="display: none;">客戶可以依需求靈活選擇12、24、36或48期。</div>
					</li>
					<li class="">
						<div class="problem" onclick="gtag('event', 'click', {'event_category': 'contact', 'event_label': 'contact_Faq_q2'}); track_faqQ2();">如果合約到期想歸還原車時，行駛的里程數超過約定的數字該怎麼辦？
							<span class="arrow">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
									<path fill-rule="evenodd" fill="rgb(125, 125, 125)" d="M5.500,0.000 L11.001,6.000 L-0.001,6.000 L5.500,0.000 Z"></path>
								</svg>
							</span>
						</div>
						<div class="answer" style="display: none;">車輛歸還里程數將於簽定 Agility星自選購車合約時約定，依照「車輛良好狀態說明表」規範，超過部分將每公里加收新台幣5元費用。</div>
					</li>
					<li class="">
						<div class="problem" onclick="gtag('event', 'click', {'event_category': 'contact', 'event_label': 'contact_Faq_q3'}); track_faqQ3();">請問Agility星自選購車方案適用於所有賓士車款嗎？
							<span class="arrow">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
									<path fill-rule="evenodd" fill="rgb(125, 125, 125)" d="M5.500,0.000 L11.001,6.000 L-0.001,6.000 L5.500,0.000 Z"></path>
								</svg>
							</span>
						</div>
						<div class="answer" style="display: none;">「Agility星自選」購車方案目前適用於新世代車系- 包含 A-Class, B-Class, CLA, CLA Shooting
							Brake, GLA, 以及C-Class。</div>
					</li>
					<li>
						<div class="problem" onclick="gtag('event', 'click', {'event_category': 'contact', 'event_label': 'contact_Faq_q4'}); track_faqQ4();">歸還原車時，怎樣才算是符合「車輛良好狀態」？
							<span class="arrow">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
									<path fill-rule="evenodd" fill="rgb(125, 125, 125)" d="M5.500,0.000 L11.001,6.000 L-0.001,6.000 L5.500,0.000 Z"></path>
								</svg>
							</span>
						</div>
						<div class="answer" style="display: none;">在您選擇「Agility星自選」產品時，合約中將載明「車輛良好狀態說明表」，供您作為未來選擇歸還車輛的參考依據。</div>
					</li>
					<li>
						<div class="problem" onclick="gtag('event', 'click', {'event_category': 'contact', 'event_label': 'contact_Faq_q5'}); track_faqQ5();">我是否可以提前中止合約並歸還車輛?
							會不會產生違約金？
							<span class="arrow">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
									<path fill-rule="evenodd" fill="rgb(125, 125, 125)" d="M5.500,0.000 L11.001,6.000 L-0.001,6.000 L5.500,0.000 Z"></path>
								</svg>
							</span>
						</div>
						<div class="answer" style="display: none;">提前中止合約時僅可選擇「保留愛車」，因此您可以隨時提前中止您的合約並結清尾款保留愛車。不會有任何違約金的產生。</div>
					</li>
					<li>
						<div class="problem" onclick="gtag('event', 'click', {'event_category': 'contact', 'event_label': 'contact_Faq_q6'}); track_faqQ6();">我的車輛是否一定需要在原廠保修廠進行保養維修？
							<span class="arrow">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
									<path fill-rule="evenodd" fill="rgb(125, 125, 125)" d="M5.500,0.000 L11.001,6.000 L-0.001,6.000 L5.500,0.000 Z"></path>
								</svg>
							</span>
						</div>
						<div class="answer" style="display: none;">原廠保修廠將提供您的愛車最全方位的照護，以符合「車輛良好狀態說明表」。</div>
					</li>
				</ul>
			</div>
			<div class="contact-form">
				<h2 class="title-line">聯絡我們</h2>
				<form action="" id="contact-form">
					<div class="row">
						<div class="col-12 col-md-w47">
							<p>聯絡人姓名*</p>
							<label for="form-name" class="form-box">
								<input id="form-name" class="input_box" type="text" name="name" value="" required="" placeholder="林小明"
								 maxlength="20">
							</label>
						</div>
						<div class="col-12 col-md-w5"></div>
						<div class="col-12 col-md-w47">
							<p>電子信箱*</p>
							<label for="form-email" class="form-box">
								<input id="form-email" class="input_box" type="text" name="email" value="" required="" placeholder="contact_mbfstw@daimler.com"
								 maxlength="100">
							</label>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-md-w47">
							<p>居住地址</p>
							<label for="form-address" class="form-box">
								<input id="form-address" class="input_box" type="text" name="address" value="" placeholder="台北市105民生東路三段131號13樓">
							</label>
						</div>
						<div class="col-12 col-md-w5"></div>
						<div class="col-12 col-md-w47">
							<p>聯絡電話*</p>
							<label for="form-tel" class="form-box">
								<input id="form-tel" class="input_box" type="text" name="tel" value="" required="" placeholder="08000-365-24 #2"
								 maxlength="20">
							</label>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-md-w47">
							<p>選擇目前個人擁有愛車*</p>
							<div class="form-box">
								<select name="favcar" required="">
									<option value=""></option>
									<option value="Audi">Audi</option>
									<option value="BMW">BMW</option>
									<option value="Chrysler">Chrysler</option>
									<option value="Citroen">Citroen</option>
									<option value="Ford">Ford</option>
									<option value="Honda">Honda</option>
									<option value="Jaguar">Jaguar</option>
									<option value="Jeep">Jeep</option>
									<option value="Kia">Kia</option>
									<option value="Lexus">Lexus</option>
									<option value="Mazda">Mazda</option>
									<option value="Mercedes-Benz">Mercedes-Benz</option>
									<option value="MINI">MINI </option>
									<option value="Mitsubishi">Mitsubishi </option>
									<option value="Nissan">Nissan </option>
									<option value="Opel">Opel </option>
									<option value="Peugeot">Peugeot </option>
									<option value="Porsche">Porsche </option>
									<option value="Renault">Renault</option>
									<option value="Rover">Rover</option>
									<option value="mdart">mdart</option>
									<option value="Saab">Saab</option>
									<option value="Toyota">Toyota</option>
									<option value="Volkswagon">Volkswagon</option>
									<option value="Volvo">Volvo</option>
									<option value="其他">其他</option>
								</select>
							</div>
						</div>
						<div class="col-12 col-md-w5"></div>
						<div class="col-12 col-md-w47">
							<p>您計劃何時購車*</p>
							<div class="form-box">
								<select name="when" required="">
									<option value=""></option>
									<option value="半個月內">半個月內</option>
									<option value="三個月內">三個月內</option>
									<option value="半年～一年">半年～一年</option>
									<option value="一年以上">一年以上</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-md-w47">
							<p>您如何得知本網站*</p>
							<div class="form-box">
								<select name="ufrom" required="">
									<option value=""></option>
									<option value="親友介紹">親友介紹</option>
									<option value="網路查詢">網路查詢</option>
									<option value="網路廣告">網路廣告</option>
									<option value="平面廣告">平面廣告</option>
									<option value="新聞相關報導">新聞相關報導</option>
									<option value="其他">其他</option>
								</select>
							</div>
						</div>
						<div class="col-12 col-md-w5"></div>
						<div class="col-12 col-md-w47">
							<p>選擇鄰近的展示中心*</p>
							<div class="form-box">
								<select name="showroom" required="">
									<option value=""></option>
									<option value="台北 中華賓士南港展示中心">台北 中華賓士南港展示中心</option>
									<option value="台北 中華賓士關渡展示中心">台北 中華賓士關渡展示中心</option>
									<option value="桃園 中華賓士桃園展示中心">桃園 中華賓士桃園展示中心</option>
									<option value="台中 中華賓士台中展示中心">台中 中華賓士台中展示中心</option>
									<option value="台南 中華賓士台南展示中心">台南 中華賓士台南展示中心</option>
									<option value="高雄 中華賓士高屏展示中心">高雄 中華賓士高屏展示中心</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<p>留言內容...</p>
							<label for="form-message" class="form-box">
								<input id="form-message" name="message" placeholder="">
							</label>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<input id="form-checkbox" type="checkbox" required="">
							<label for="form-checkbox">
								<table width="100%" cellpadding="0" cellspacing="0" border="0">
									<tr>
										<td><span class="checkbox"></span></td>
										<td> *</td>
										<td>我同意以上所提供之個人相關資料，由台灣賓士及其相關業務行銷單位做為提供有關產品資訊、服務及相關活動之用。您的個人資料表未經同意，將不回逕自提供給其他非相關之單位使用。
										</td>
									</tr>
								</table>
							</label>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-12 form-send">
							<button type="reset" class="btn-border">重填</button>
							<button type="submit" class="btn-fill">送出</button>
						</div>
					</div>

				</form>
			</div>
		</div>
	</section>
</div>

<!-- @@close-->

<!-- @@block  =  footer -->
<footer class="bgft03 black">
	<!-- @@include ../layouts/_footer.html -->
</footer>
<!-- @@close -->