<!-- @@master = ../layouts/default.html-->

<!-- @@block  =  title -->
<title>MB Agility 星自選 | 首頁</title>
<meta
    name="description"
    content="為了滿足消費者追求個性與潮流生活的需求，台灣賓士資融推出全新的汽車金融產品 —「Agility星自選」專案，帶給您全新的汽車消費體驗：您無需投入一次性的資金購買車輛，而是“先摘星，後自選”：在合約期限內，輕鬆支付月付款，即可晉級擁有賓士。合約期滿之際，更可換購最新車款，享受前衛智能科技與駕馭樂趣。亦可選擇付清尾款或將尾款再分期，即可完全擁有愛車。"
/>
<meta
    name="keywords"
    content="試算, 賓士購車方案, 賓士購車優惠, 購車優惠, 購車方案, 低頭款, 換購新車, 保留愛車, 歸還原車, 了解Agility, 什麼事agility, agility, mb-agility, 賓士Agility, 星智選, 賓士資融, 台灣賓士"
/>
<link rel="canonical" href="http://www.mb-agility.com/mb/" />

<meta name="og:title" content="MB Agility 星自選 | 首頁" />
<meta
    name="og:description"
    content="為了滿足消費者追求個性與潮流生活的需求，台灣賓士資融推出全新的汽車金融產品 —「Agility星自選」專案，帶給您全新的汽車消費體驗：您無需投入一次性的資金購買車輛，而是“先摘星，後自選”：在合約期限內，輕鬆支付月付款，即可晉級擁有賓士。合約期滿之際，更可換購最新車款，享受前衛智能科技與駕馭樂趣。亦可選擇付清尾款或將尾款再分期，即可完全擁有愛車。"
/>
<meta property="og:url" content="http://www.mb-agility.com/mb/" />
<meta name="og:image" content="http://www.mb-agility.com/mb/../../share-image.jpg" />
<!-- @@close -->

<!-- @@block  =  head-css -->
<link rel="stylesheet" href="css/slick-theme.css" type="text/css" media="all" />
<link rel="stylesheet" href="css/slick.css" type="text/css" media="all" />
<link rel="stylesheet" href="css/home.css" type="text/css" media="all" />
<!-- @@close -->

<!-- @@block  =  head-js -->
<script type="text/javascript" src="js/pingin/greensock/TweenMax.min.js"></script>
<script type="text/javascript" src="js/pingin/scrollmagic/ScrollMagic.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/plugins/debug.addIndicators.min.js"></script>
<script type="text/javascript" src="js/pingin/scrollmagic/plugins/animation.gsap.min.js"></script>
<script type="text/javascript" src="js/pingin/slick.min.js"></script>

<!-- <script src="js/home/main.js"></script> -->
<!-- <script src="js/home/main2.js"></script> -->
<script src="js/home/main3.js"></script>
<script>
    $(function() {
        menuShowHide(true)
    })
</script>
<!-- @@close -->

<!-- @@block = content -->
<script>
    // init controller
    var controller = new ScrollMagic.Controller()
</script>
<div id="home" class="main">
    <section id="keyVision">
        <ul class="kvSlider">
            <li class="slider1">
                <a
                    href="https://www.mercedes-benz.com.tw/passengercars/buy/finance-leasing-insurance/e-class-offers/offer-image.module.html"
                >
                    <img class="visible-desktop" src="images/slide-kv/ad-kv01.jpg" alt=""/>
                    <img class="hidden-desktop" src="images/slide-kv/ad-kv-mo01.jpg" alt=""
                /></a>
            </li>
            <li class="slider2">
                <img class="visible-desktop" src="images/slide-kv/ad-kv02.jpg" alt="" />
                <img class="hidden-desktop" src="images/slide-kv/ad-kv-mo02.jpg" alt="" />
            </li>
            <li class="slider3">
                <img class="visible-desktop" src="images/slide-kv/ad-kv03.jpg" alt="" />
                <img class="hidden-desktop" src="images/slide-kv/ad-kv-mo03.jpg" alt="" />
            </li>
            <li class="slider4">
                <img class="visible-desktop" src="images/slide-kv/ad-kv04.jpg" alt="" />
                <img class="hidden-desktop" src="images/slide-kv/ad-kv-mo04.jpg" alt="" />
            </li>
        </ul>

        <div class="kv-headtxt">
            <h1>Agility <span class="font-blue">星自選</span></h1>
            <h2>易享天開 購車優惠方案</h2>
        </div>
    </section>

    <section id="section1" class="mbcarBG">
        <div class="main-mb visible-desktop">
            <div id="scene1">
                <div class="myContainer">
                    <div id="txtHead" class="txtHead1">
                        <h2 class="MingLiU"><span class="Daimler-Corpo-A">Agility</span> 星自選 購車優惠方案</h2>
                        <h3 class="MingLiU">先摘<span class="blue">星</span>，後<span class="blue">自選</span></h3>
                    </div>
                    <div id="Paragraph" class="Paragraph">
                        <p>
                            為了滿足消費者追求個性與潮流生活的需求，台灣賓士資融推出全新的汽車金融產品—「Agility
                            星自選」購車優惠方案，帶給您全新的汽車消費體驗：您無需投入一次性的資金購買車輛，而是"先摘星，後自選"，合約期滿之際，更可換購最新車款，享受前衛智能科技與駕馭樂趣。亦可選擇付清尾款或將尾款再分期，即可完全擁有愛車。
                        </p>
                    </div>
                </div>
            </div>
            <div class="spacer s2"></div>
            <div class="s1-bg-car">
                <img src="images/home/s1-bg-car.jpg" />
                <img class="tire-font" src="images/home/car-tire-font.png" />
                <img class="tire-back" src="images/home/car-tire-back.png" />
            </div>
            <div class="s1-overlay"></div>
            <div class="spacer s0"></div>
            <div id="scene-car1"></div>
            <div id="scene2">
                <div class="myContainer">
                    <div id="txtHead2" class="txtHead2">
                        <h2 class="MingLiU">
                            如何使用<span class="Daimler-Corpo-A">Agility</span> <span class="blue">星自選</span>
                        </h2>
                    </div>
                    <div id="features" class="features">
                        <ul>
                            <li id="f1">
                                <div class="icon">
                                    <img
                                        src="https://www.mb-agility.com/mb/content/images/home/s1/icon-features-01.svg"
                                        alt=""
                                    />
                                </div>
                                <div class="features-text">
                                    <p>選擇您喜愛的車型</p>
                                </div>
                            </li>
                            <li id="f2">
                                <div class="icon">
                                    <img
                                        src="https://www.mb-agility.com/mb/content/images/home/s1/icon-features-02.svg"
                                        alt=""
                                    />
                                </div>
                                <div class="features-text">
                                    <p>根據您的需求選擇<br />每年車輛行駛的最高里程數</p>
                                </div>
                            </li>
                            <li id="f3">
                                <div class="icon">
                                    <img
                                        src="https://www.mb-agility.com/mb/content/images/home/s1/icon-features-03.svg"
                                        alt=""
                                    />
                                </div>
                                <div class="features-text">
                                    <p>根據您的預算決定<br />頭期款及分期期數</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="visible-mobile">
            <div id="s1-mo-scene1" class="scene1">
                <div id="txtHead1" class="txtHead1">
                    <h2 class="MingLiU"><span class="Daimler-Corpo-A">Agility</span> 星自選 購車優惠方案</h2>
                    <h3 class="MingLiU">先摘<span class="blue">星</span>，後<span class="blue">自選</span></h3>
                </div>
                <div id="Paragraph" class="Paragraph">
                    <p>
                        為了滿足消費者追求個性與潮流生活的需求，台灣賓士資融推出全新的汽車金融產品—「Agility
                        星自選」購車優惠方案，帶給您全新的汽車消費體驗：您無需投入一次性的資金購買車輛，而是"先摘星，後自選"，合約期滿之際，更可換購最新車款，享受前衛智能科技與駕馭樂趣。亦可選擇付清尾款或將尾款再分期，即可完全擁有愛車。
                    </p>
                </div>
                <img id="s1-car-01" src="images/home/s1/s1-car1-mo.png" alt="" />
            </div>
            <div id="s1-mo-scene2" class="scene2">
                <div class="txtHead2">
                    <h2 class="MingLiU">
                        如何使用<span class="Daimler-Corpo-A">Agility</span> <span class="blue">星自選</span>
                    </h2>
                </div>
                <div class="features">
                    <ul>
                        <li>
                            <div class="icon"><img src="images/home/s1/icon-features-01.svg" alt="" /></div>
                            <div class="features-text">
                                <p>選擇您喜愛的車型</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon"><img src="images/home/s1/icon-features-02.svg" alt="" /></div>
                            <div class="features-text">
                                <p>根據您的需求選擇<br />每年車輛行駛的最高里程數</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon"><img src="images/home/s1/icon-features-03.svg" alt="" /></div>
                            <div class="features-text">
                                <p>根據您的預算決定<br />頭期款及分期期數</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="section2">
        <!-- Tab Area -->
        <div class="tabsWrapper">
            <div class="tabsContainer myContainer">
                <ul class="tabs">
                    <li class="active"><a href="#starSelection" data-car="firstS">星自選</a></li>
                    <li><a href="#moneySelection" data-car="monthlyS">現金星自選</a></li>
                    <li><a href="#rentalSelection" data-car="ExpirationS">租賃星自選</a></li>
                    <!-- <li id="marker">
                            <a href="javascript:;">&nbsp;</a>
                        </li> -->
                </ul>
            </div>
            <div class="assignCar">
                <div class="myContainer asCarContent">
                    <div class="assignCarImg">
                        <img src="images/home/s2-bg-car.png" alt="" />
                    </div>
                    <div class="assignCarBlock">
                        <ul class="assignCarTitle firstThirty selectionActive">
                            <li class="MingLiU">頭期款</li>
                            <li class="MingLiU">月付款</li>
                            <li class="MingLiU">期滿三自選</li>
                            <li></li>
                        </ul>
                        <ul class="assignCarTitle monthlyFifty">
                            <li class="MingLiU">頭期款</li>
                            <li class="MingLiU">期滿三自選</li>
                            <li></li>
                        </ul>
                        <ul class="assignCarTitle ExpirationThirty">
                            <li class="MingLiU">保證金</li>
                            <li class="MingLiU">月租金</li>
                            <li class="MingLiU">期滿三自選</li>
                            <li></li>
                        </ul>
                        <ul class="assignCarIcon">
                            <li>
                                <img src="images/home/assigncar-icon01.png" alt="" />
                            </li>
                            <li>
                                <img src="images/home/assigncar-icon02.png" alt="" />
                            </li>
                            <li>
                                <img src="images/home/assigncar-icon03.png" alt="" />
                            </li>
                        </ul>
                    </div>
                    <div id="colorBlock" class="firstS"></div>
                    <div class="carClear"></div>
                </div>
            </div>
            <div class="tabContentWrap">
                <div class="myContainer">
                    <!-- tab 1 -->
                    <div id="starSelection" class="tabContent">
                        <div class="informationLeft">
                            <h4 class="infoTitle MingLiU">超低頭款</h4>
                            <h5 class="infoSubtitle">
                                超低頭款，讓您輕鬆入主賓士。合約期限內享有低月付，並於合約期滿時，以靈活的方式處理尾款。
                            </h5>
                        </div>
                        <div class="informationRight">
                            <ul>
                                <li>低頭款、低月付，門檻輕鬆，資金運用更有彈性。</li>
                                <li>依個人預算需求規劃，不同階段搭配不同組合，選擇更靈活。</li>
                                <li>無需一次性投入整筆資金，徹底將購車風險降到最低，未來仍享有優質車價。</li>
                                <li>隨品牌推陳出新即可更換最新車款，並在原廠保固期限內，隨時保持最佳狀態。</li>
                            </ul>
                        </div>
                    </div>
                    <!-- tab 2 -->
                    <div id="moneySelection" class="tabContent">
                        <div class="informationLeft">
                            <h4 class="infoTitle MingLiU">50% 頭期款</h4>
                            <h5 class="infoSubtitle">
                                現金支付車價50%的頭期款即可坐享賓士，合約期間免付任何款項，尾款待合約期滿自由選擇方案。
                            </h5>
                        </div>
                        <div class="informationRight">
                            <ul>
                                <li>頭款車價 50%、0 月付款，並享有 0 利率優惠。</li>
                                <li>聰明理財，購車只需投入一半資金，資金運用更彈性。</li>
                                <li>合約期間無需繳交任何款項，到期主動提醒，不必擔心分期困擾。</li>
                                <li>合約期滿提供靈活方案，由您自由選擇，換購最新車款，引領最星潮流。</li>
                            </ul>
                            <div class="assignCarBtn">
                                <a
                                    href="https://www.mercedes-benz.com.tw/passengercars/buy/finance-leasing-insurance/e-class-offers.html"
                                    target="_blank"
                                    >更多詳情 &gt;&gt;</a
                                >
                            </div>
                        </div>
                    </div>
                    <!-- tab 3 -->
                    <div id="rentalSelection" class="tabContent">
                        <div class="informationLeft">
                            <h4 class="infoTitle MingLiU">企業節稅</h4>
                            <h5 class="infoSubtitle">
                                體貼企業老闆經營辛勞，台灣賓士資融彈性的整合式租賃服務，從稅款、檢驗、保險到保養等選項，有效提升企業用車效益，達到節稅的目的。讓您免除負擔，從容馳騁商場。
                            </h5>
                        </div>
                        <div class="informationRight">
                            <ul>
                                <li>預付保證金</li>
                                <li>固定租金費用，讓您能輕易管控預算</li>
                                <li>月租金是根據每年車輛行駛公里數與部分車輛價值計算，有效降低每月租金</li>
                                <li>期滿自由選，可避免預期之外的車輛折舊</li>
                                <li>合約期滿再決定車輛處理方式</li>
                                <li>合法節稅</li>
                            </ul>
                            <div class="assignCarBtn">
                                <a
                                    href="https://www.mercedes-benz.com.tw/passengercars/buy/financial-service/fleet-business.module.html"
                                    target="_blank"
                                    >更多詳情 &gt;&gt;</a
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="section3">
        <div class="visible-desktop">
            <div id="scene3">
                <div class="myContainer">
                    <div class="txtHead" id="txtHead3">
                        <h2 class="MingLiU">期滿<span class="blue">三自選</span></h2>
                        <h2 class="MingLiU">
                            <span class="Daimler-Corpo-A">Agility</span> 星自選，期滿三自選方案，一切由您心自選
                        </h2>
                    </div>
                </div>
                <div class="future" id="future">
                    <div class="myContainer">
                        <div class="futureImg"><img src="images/home/s3/future.png" alt="" /></div>
                        <div class="futureContent">
                            <h4>未來，屬於最能適應變化的您</h4>
                            <p>
                                Agility星自選提供期滿三重選擇，讓您在快速變化<br />的時代不畫地自限，輕鬆選擇生存之道！
                            </p>
                            <div class="futureLine"></div>
                            <ul class="futureList">
                                <li><span>換購新車</span>求新求變，引領新潮流</li>
                                <li><span>保留新車</span>珍惜擁有，留住美好</li>
                                <li><span>歸還原車</span>因應變化，輕鬆調整生活需求</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <ul class="threeSelection" id="threeSelection">
                    <li id="ts1">
                        <div class="threeSelectionTxt">
                            <p>
                                車款不斷推陳出新，讓您與最新智能科技與時俱進，未來又能保有優質車價無後顧之憂，以舊換新，輕鬆享有三芒星極致工藝，隨時駕馭最新車款。
                            </p>
                        </div>
                    </li>
                    <li id="ts2">
                        <div class="threeSelectionTxt">
                            <p>
                                體驗前所未有的尊榮感受，凡駕馭過後的人都懂。我們知道您想長久擁有，此刻，您只需將尾款付清或是尾款再分期，就能繼續坐擁愛車。
                            </p>
                        </div>
                    </li>
                    <li id="ts3">
                        <div class="threeSelectionTxt">
                            <p>
                                生活變化多端，當現況已不符合您的需求，不用擔心！只要車況符合良好狀態及里程數說明表的條件下，直接歸還原車，輕鬆解決尾款問題。車主可「不必支付剩餘尾款，直接歸還原車即可」待未來有機會再購買屬意的車款。
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="hidden-desktop" id="s3-mo-scene3">
            <div class="myContainer">
                <div class="txtHead" id="txtHead3M">
                    <h2 class="MingLiU">期滿<span class="blue">三自選</span></h2>
                    <h2 class="MingLiU">
                        <span class="Daimler-Corpo-A">Agility</span> 星自選，期滿三自選方案，一切由您心自選
                    </h2>
                </div>
            </div>
            <div class="future">
                <div class="myContainer">
                    <div class="futureImg" id="futureImgM"><img src="images/home/s3/future.png" alt="" /></div>
                    <div class="futureContent" id="futureContentM">
                        <h4>未來，屬於最能適應變化的您</h4>
                        <p>Agility星自選提供期滿三重選擇，讓您在快速變化<br />的時代不畫地自限，輕鬆選擇生存之道！</p>
                        <div class="futureLine"></div>
                    </div>
                </div>
            </div>
            <ul class="threeSelection" id="threeSelection">
                <li id="ts1M">
                    <div class="threeSelectionTxt">
                        <h4><span>換購新車</span>求新求變，引領新潮流</h4>
                        <p>
                            車款不斷推陳出新，讓您與最新智能科技與時俱進，未來又能保有優質車價無後顧之憂，以舊換新，輕鬆享有三芒星極致工藝，隨時駕馭最新車款。
                        </p>
                    </div>
                </li>
                <li id="ts2M">
                    <div class="threeSelectionTxt">
                        <h4><span>保留新車</span>珍惜擁有，留住美好</h4>
                        <p>
                            體驗前所未有的尊榮感受，凡駕馭過後的人都懂。我們知道您想長久擁有，此刻，您只需將尾款付清或是尾款再分期，就能繼續坐擁愛車。
                        </p>
                    </div>
                </li>
                <li id="ts3M">
                    <div class="threeSelectionTxt">
                        <h4><span>歸還原車</span>因應變化，輕鬆調整生活需求</h4>
                        <p>
                            生活變化多端，當現況已不符合您的需求，不用擔心！只要車況符合良好狀態及里程數說明表的條件下，直接歸還原車，輕鬆解決尾款問題。車主可「不必支付剩餘尾款，直接歸還原車即可」待未來有機會再購買屬意的車款。
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section id="section4">
        <div class="container">
            <div id="advantage" class="advantage">
                <h2 id="advantage-title" class="MingLiU">
                    <span class="blue"><span class="Daimler-Corpo-A">Agility</span> 星自選 </span> 購車優勢
                </h2>
                <div class="row">
                    <div id="advantage1" class="col-12 col-lg-6 item">
                        <ul>
                            <li class="icon">
                                <img
                                    src="https://www.mb-agility.com/mb/content/images/home/s2/advantage-icon1.svg"
                                    alt=""
                                />
                            </li>
                            <li class="txtCont">
                                <h3>享 貼心客製服務</h3>
                                <p>完全依個人預算需求規劃，不同階段搭配不同組合，選擇更靈活。</p>
                            </li>
                        </ul>
                    </div>
                    <div id="advantage2" class="col-12 col-lg-6 item">
                        <ul>
                            <li class="icon">
                                <img
                                    src="https://www.mb-agility.com/mb/content/images/home/s2/advantage-icon2.svg"
                                    alt=""
                                />
                            </li>
                            <li class="txtCont">
                                <h3>享 安心保值車價</h3>
                                <p>無需一次性投入整筆資金，徹底將購車風險降到最低，未來仍享有優質車價。</p>
                            </li>
                        </ul>
                    </div>
                    <div id="advantage3" class="col-12 col-lg-6 item">
                        <ul>
                            <li class="icon">
                                <img
                                    src="https://www.mb-agility.com/mb/content/images/home/s2/advantage-icon3.svg"
                                    alt=""
                                />
                            </li>
                            <li class="txtCont">
                                <h3>享 隨心坐擁夢想</h3>
                                <p>低頭款、低月付，門檻輕鬆，資金運用更有彈性，夢想不再遙不可期。</p>
                            </li>
                        </ul>
                    </div>
                    <div id="advantage4" class="col-12 col-lg-6 item">
                        <ul>
                            <li class="icon">
                                <img
                                    src="https://www.mb-agility.com/mb/content/images/home/s2/advantage-icon4.svg"
                                    alt=""
                                />
                            </li>
                            <li class="txtCont">
                                <h3>享 一心引領潮流</h3>
                                <p>隨品牌推陳出新即可更換最新車款，並在原廠保固期限內，隨時保持最佳狀態。</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="section5">
        <div class="video-container">
            <ul class="video-slider">
                <li
                    class="youtube-preview"
                    id="youtube-preview1"
                    onclick="gtag( 'event', 'click', { 'event_category': 'Index', 'event_label': 'index_youtubeVideo'});"
                    style="background-image: url( 'images/home/maxresdefault.jpg')"
                    data-video="hTEHYOFfocg"
                >
                    <div class="youtube-preview__button">
                        <svg width="100%" height="100%" id="play_icon" data-name="play icon" viewBox="0 0 85 85">
                            <circle class="cls-1" stroke="#ffffff" stroke-width="1" cx="42.5" cy="42.5" r="42.5" />
                            <circle
                                class="cls-2"
                                stroke="#ffffff"
                                fill="none"
                                stroke-width="1"
                                cx="42.5"
                                cy="42.5"
                                r="42.5"
                            />
                            <path
                                class="cls-3"
                                stroke="#ffffff"
                                fill="#ffffff"
                                stroke-width="2"
                                d="M59.007,42.5L33.992,54.993V30.009Z"
                            />
                        </svg>
                    </div>
                    <div id="youtube-video1"></div>
                </li>
                <li
                    class="youtube-preview"
                    id="youtube-preview2"
                    onclick="gtag( 'event', 'click', { 'event_category': 'Index', 'event_label': 'index_youtubeVideo'});"
                    style="background-image: url( 'images/home/maxresdefault.jpg')"
                    data-video="hTEHYOFfocg"
                >
                    <div class="youtube-preview__button">
                        <svg width="100%" height="100%" id="play_icon" data-name="play icon" viewBox="0 0 85 85">
                            <circle class="cls-1" stroke="#ffffff" stroke-width="1" cx="42.5" cy="42.5" r="42.5" />
                            <circle
                                class="cls-2"
                                stroke="#ffffff"
                                fill="none"
                                stroke-width="1"
                                cx="42.5"
                                cy="42.5"
                                r="42.5"
                            />
                            <path
                                class="cls-3"
                                stroke="#ffffff"
                                fill="#ffffff"
                                stroke-width="2"
                                d="M59.007,42.5L33.992,54.993V30.009Z"
                            />
                        </svg>
                    </div>
                    <div id="youtube-video2"></div>
                </li>
                <li
                    class="youtube-preview"
                    id="youtube-preview3"
                    onclick="gtag( 'event', 'click', { 'event_category': 'Index', 'event_label': 'index_youtubeVideo'});"
                    style="background-image: url( 'images/home/maxresdefault.jpg')"
                    data-video="hTEHYOFfocg"
                >
                    <div class="youtube-preview__button">
                        <svg width="100%" height="100%" id="play_icon" data-name="play icon" viewBox="0 0 85 85">
                            <circle class="cls-1" stroke="#ffffff" stroke-width="1" cx="42.5" cy="42.5" r="42.5" />
                            <circle
                                class="cls-2"
                                stroke="#ffffff"
                                fill="none"
                                stroke-width="1"
                                cx="42.5"
                                cy="42.5"
                                r="42.5"
                            />
                            <path
                                class="cls-3"
                                stroke="#ffffff"
                                fill="#ffffff"
                                stroke-width="2"
                                d="M59.007,42.5L33.992,54.993V30.009Z"
                            />
                        </svg>
                    </div>
                    <div id="youtube-video3"></div>
                </li>
            </ul>
            <!-- <div class="youtube-preview" onclick="gtag( 'event', 'click', { 'event_category': 'Index', 'event_label': 'index_youtubeVideo'});" style="background-image: url( 'images/home/maxresdefault.jpg')">
                <div class="youtube-preview__button">
                    <svg width="100%" height="100%" id="play_icon" data-name="play icon" viewBox="0 0 85 85">
                        <circle class="cls-1" stroke="#ffffff" stroke-width="1" cx="42.5" cy="42.5" r="42.5" />
                        <circle class="cls-2" stroke="#ffffff" fill="none" stroke-width="1" cx="42.5" cy="42.5" r="42.5" />
                        <path class="cls-3" stroke="#ffffff" fill="#ffffff" stroke-width="2" d="M59.007,42.5L33.992,54.993V30.009Z" />
                    </svg>
                </div>
                <div id="youtube-video"></div>
            </div> -->
        </div>
    </section>
</div>

<script>
    var tag = document.createElement('script')
    tag.src = 'https://www.youtube.com/player_api'
    var firstScriptTag = document.getElementsByTagName('script')[0]
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag)
</script>

<!-- @@close-->

<!-- @@block  =  footer -->
<footer class="bgft01 mbfs-shadow">
    <!-- @@include ../layouts/_footer.html -->
</footer>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-105601364-2"></script>
<script>
    window.dataLayer = window.dataLayer || []

    function gtag() {
        dataLayer.push(arguments)
    }
    gtag('js', new Date())

    gtag('config', 'UA-105601364-2')
</script>

<script>
    function gtag_event() {
        var flag_1 = false
        var flag_2 = false
        var flag_3 = false
        var flag_4 = false
        var flag_5 = false
        var flag_6 = false
        var flag_7 = false

        var scene1_T = $('#scene1').offset().top
        var scene2_T = $('#scene2').offset().top
        var scene1mo_T = $('#s1-mo-scene1').offset().top
        var scene2mo_T = $('#s1-mo-scene2').offset().top

        var section2_T = $('#section2').offset().top
        var section3_T = $('#section3').offset().top
        var section4_T = $('#section4').offset().top
        var section5_T = $('#section5').offset().top
        var footer_T = $('footer').offset().top

        jQuery(window).scroll(function() {
            if ($(window).width() > 992) {
                if (jQuery(this).scrollTop() > scene1_T && !flag_1) {
                    gtag('event', 'scroll', {
                        event_category: 'index',
                        event_label: 'scrollTo_about-1'
                    })
                    flag_1 = true
                } else if (jQuery(this).scrollTop() > scene2_T && !flag_2) {
                    gtag('event', 'scroll', {
                        event_category: 'index',
                        event_label: 'scrollTo_about-2'
                    })
                    flag_2 = true
                } else if (jQuery(this).scrollTop() > section2_T && !flag_3) {
                    gtag('event', 'scroll', {
                        event_category: 'index',
                        event_label: 'scrollTo_about-3'
                    })
                    flag_3 = true
                } else if (jQuery(this).scrollTop() > section3_T && !flag_4) {
                    gtag('event', 'scroll', {
                        event_category: 'index',
                        event_label: 'scrollTo_about-4'
                    })
                    flag_4 = true
                } else if (jQuery(this).scrollTop() > section4_T && !flag_5) {
                    gtag('event', 'scroll', {
                        event_category: 'index',
                        event_label: 'scrollTo_about-5'
                    })
                    flag_5 = true
                } else if (jQuery(this).scrollTop() > section5_T && !flag_6) {
                    gtag('event', 'scroll', {
                        event_category: 'index',
                        event_label: 'scrollTo_about-video'
                    })
                    flag_6 = true
                } else if (jQuery(this).scrollTop() > footer_T && !flag_7) {
                    gtag('event', 'scroll', {
                        event_category: 'index',
                        event_label: 'scrollTo_footer'
                    })
                    flag_7 = true
                }
            } else {
                if (jQuery(this).scrollTop() > scene1mo_T && !flag_1) {
                    gtag('event', 'scroll', {
                        event_category: 'index',
                        event_label: 'scrollTo_about-1'
                    })
                    flag_1 = true
                } else if (jQuery(this).scrollTop() > scene2mo_T && !flag_2) {
                    gtag('event', 'scroll', {
                        event_category: 'index',
                        event_label: 'scrollTo_about-2'
                    })
                    flag_2 = true
                } else if (jQuery(this).scrollTop() > section2_T && !flag_3) {
                    gtag('event', 'scroll', {
                        event_category: 'index',
                        event_label: 'scrollTo_about-3'
                    })
                    flag_3 = true
                } else if (jQuery(this).scrollTop() > section3_T && !flag_4) {
                    gtag('event', 'scroll', {
                        event_category: 'index',
                        event_label: 'scrollTo_about-4'
                    })
                    flag_4 = true
                } else if (jQuery(this).scrollTop() > section4_T && !flag_5) {
                    gtag('event', 'scroll', {
                        event_category: 'index',
                        event_label: 'scrollTo_about-5'
                    })
                    flag_5 = true
                } else if (jQuery(this).scrollTop() > section5_T && !flag_6) {
                    gtag('event', 'scroll', {
                        event_category: 'index',
                        event_label: 'scrollTo_about-video'
                    })
                    flag_6 = true
                } else if (jQuery(this).scrollTop() > footer_T && !flag_7) {
                    gtag('event', 'scroll', {
                        event_category: 'index',
                        event_label: 'scrollTo_footer'
                    })
                    flag_7 = true
                }
            }
        })
    }

    jQuery(document).ready(function() {
        gtag_event()
    })
</script>
<!-- @@close -->
