<header>
  <div class="container-fluid">
    <div id="hd-hamburger" class="hd-hamburger">
      <span class="hd-icon-bar">
        <span class="hd-hamburger-line"></span>
        <span class="hd-hamburger-line"></span>
        <span class="hd-hamburger-line"></span>
      </span>
    </div>
    <div class="row">
      <div class="col-8 col-lg-4"><a href="index.html" class="logo">
          <img class="visible-desktop" src="images/logo-mbfs.svg" alt="">
          <img class="visible-mobile" src="images/logo-mbfs-mo.svg" alt="">
        </a></div>
      <div class="col-4 col-lg-8">
        <ul class="hd-nav-menu visible-desktop">
          <li><a href="index.html">MB Agility</a></li>
          <li><a href="calculate.html">購車試算</a></li>
          <li><a href="contact.html">聯絡我們</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="overlay hd-nav-menu visible-mobile" id="overlay">
    <nav class="overlay-menu">
      <ul>
        <li><a href="index.html">MB Agility</a></li>
        <li><a href="calculate.html">購車試算</a></li>
        <li><a href="contact.html">聯絡我們</a></li>
      </ul>
    </nav>
  </div>
</header>